In [ ]:
#Importing Packages
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
import seaborn as sb
sb.set(style="white")
sb.set(style="whitegrid", color_codes=True)

In [2]:
#Importing data
data = pd.read_csv("targeted-marketing.csv", sep=',')
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [3]:
#Cleaning Data
print(data['education'].unique())

['basic.4y' 'unknown' 'university.degree' 'high.school' 'basic.9y'
 'professional.course' 'basic.6y' 'illiterate']

In [4]:
data['education'] = np.where(data['education']=='basic.4y', 'Basic', data['education'])
data['education'] = np.where(data['education']=='basic.6y', 'Basic', data['education'])
data['education'] = np.where(data['education']=='basic.9y', 'Basic', data['education'])
print(data['education'].unique())

['Basic' 'unknown' 'university.degree' 'high.school' 'professional.course'
 'illiterate']

In [5]:
#Categorising all the non_numeric variables
variables = ['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome']
for var in variables :
    var_list = 'var'+'_'+var
    var_list = pd.get_dummies(data[var], prefix = var)
    Data = data.join(var_list)
    data = Data
    print(data.head())

    
variables = ['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome']
data_vars=data.columns.values.tolist()
to_keep=[i for i in data_vars if i not in variables]

data_final=data[to_keep]
data_final.columns.values

   age          job  marital          education  default housing loan  \
0   44  blue-collar  married              Basic  unknown     yes   no
1   53   technician  married            unknown       no      no   no
2   28   management   single  university.degree       no     yes   no
3   39     services  married        high.school       no      no   no
4   55      retired  married              Basic       no     yes   no

    contact month day_of_week     ...       job_entrepreneur  job_housemaid  \
0  cellular   aug         thu     ...                      0              0
1  cellular   nov         fri     ...                      0              0
2  cellular   jun         thu     ...                      0              0
3  cellular   apr         fri     ...                      0              0
4  cellular   aug         fri     ...                      0              0

   job_management  job_retired job_self-employed  job_services  job_student  \
0               0            0                 0             0            0
1               0            0                 0             0            0
2               1            0                 0             0            0
3               0            0                 0             1            0
4               0            1                 0             0            0

   job_technician  job_unemployed  job_unknown
0               0               0            0
1               1               0            0
2               0               0            0
3               0               0            0
4               0               0            0

[5 rows x 33 columns]
   age          job  marital          education  default housing loan  \
0   44  blue-collar  married              Basic  unknown     yes   no
1   53   technician  married            unknown       no      no   no
2   28   management   single  university.degree       no     yes   no
3   39     services  married        high.school       no      no   no
4   55      retired  married              Basic       no     yes   no

    contact month day_of_week       ...         job_self-employed  \
0  cellular   aug         thu       ...                         0
1  cellular   nov         fri       ...                         0
2  cellular   jun         thu       ...                         0
3  cellular   apr         fri       ...                         0
4  cellular   aug         fri       ...                         0

   job_services  job_student  job_technician job_unemployed  job_unknown  \
0             0            0               0              0            0
1             0            0               1              0            0
2             0            0               0              0            0
3             1            0               0              0            0
4             0            0               0              0            0

   marital_divorced  marital_married  marital_single  marital_unknown
0                 0                1               0                0
1                 0                1               0                0
2                 0                0               1                0
3                 0                1               0                0
4                 0                1               0                0

[5 rows x 37 columns]
   age          job  marital          education  default housing loan  \
0   44  blue-collar  married              Basic  unknown     yes   no
1   53   technician  married            unknown       no      no   no
2   28   management   single  university.degree       no     yes   no
3   39     services  married        high.school       no      no   no
4   55      retired  married              Basic       no     yes   no

    contact month day_of_week        ...          marital_divorced  \
0  cellular   aug         thu        ...                         0
1  cellular   nov         fri        ...                         0
2  cellular   jun         thu        ...                         0
3  cellular   apr         fri        ...                         0
4  cellular   aug         fri        ...                         0

   marital_married  marital_single  marital_unknown education_Basic  \
0                1               0                0               1
1                1               0                0               0
2                0               1                0               0
3                1               0                0               0
4                1               0                0               1

   education_high.school  education_illiterate  education_professional.course  \
0                      0                     0                              0
1                      0                     0                              0
2                      0                     0                              0
3                      1                     0                              0
4                      0                     0                              0

   education_university.degree  education_unknown
0                            0                  0
1                            0                  1
2                            1                  0
3                            0                  0
4                            0                  0

[5 rows x 43 columns]
   age          job  marital          education  default housing loan  \
0   44  blue-collar  married              Basic  unknown     yes   no
1   53   technician  married            unknown       no      no   no
2   28   management   single  university.degree       no     yes   no
3   39     services  married        high.school       no      no   no
4   55      retired  married              Basic       no     yes   no

    contact month day_of_week     ...       marital_unknown  education_Basic  \
0  cellular   aug         thu     ...                     0                1
1  cellular   nov         fri     ...                     0                0
2  cellular   jun         thu     ...                     0                0
3  cellular   apr         fri     ...                     0                0
4  cellular   aug         fri     ...                     0                1

   education_high.school  education_illiterate education_professional.course  \
0                      0                     0                             0
1                      0                     0                             0
2                      0                     0                             0
3                      1                     0                             0
4                      0                     0                             0

   education_university.degree  education_unknown  default_no  \
0                            0                  0           0
1                            0                  1           1
2                            1                  0           1
3                            0                  0           1
4                            0                  0           1

   default_unknown  default_yes
0                1            0
1                0            0
2                0            0
3                0            0
4                0            0

[5 rows x 46 columns]
   age          job  marital          education  default housing loan  \
0   44  blue-collar  married              Basic  unknown     yes   no
1   53   technician  married            unknown       no      no   no
2   28   management   single  university.degree       no     yes   no
3   39     services  married        high.school       no      no   no
4   55      retired  married              Basic       no     yes   no

    contact month day_of_week     ...       education_illiterate  \
0  cellular   aug         thu     ...                          0
1  cellular   nov         fri     ...                          0
2  cellular   jun         thu     ...                          0
3  cellular   apr         fri     ...                          0
4  cellular   aug         fri     ...                          0

   education_professional.course  education_university.degree  \
0                              0                            0
1                              0                            0
2                              0                            1
3                              0                            0
4                              0                            0

   education_unknown default_no  default_unknown  default_yes  housing_no  \
0                  0          0                1            0           0
1                  1          1                0            0           1
2                  0          1                0            0           0
3                  0          1                0            0           1
4                  0          1                0            0           0

   housing_unknown  housing_yes
0                0            1
1                0            0
2                0            1
3                0            0
4                0            1

[5 rows x 49 columns]
   age          job  marital          education  default housing loan  \
0   44  blue-collar  married              Basic  unknown     yes   no
1   53   technician  married            unknown       no      no   no
2   28   management   single  university.degree       no     yes   no
3   39     services  married        high.school       no      no   no
4   55      retired  married              Basic       no     yes   no

    contact month day_of_week    ...     education_unknown  default_no  \
0  cellular   aug         thu    ...                     0           0
1  cellular   nov         fri    ...                     1           1
2  cellular   jun         thu    ...                     0           1
3  cellular   apr         fri    ...                     0           1
4  cellular   aug         fri    ...                     0           1

   default_unknown  default_yes housing_no  housing_unknown  housing_yes  \
0                1            0          0                0            1
1                0            0          1                0            0
2                0            0          0                0            1
3                0            0          1                0            0
4                0            0          0                0            1

   loan_no  loan_unknown  loan_yes
0        1             0         0
1        1             0         0
2        1             0         0
3        1             0         0
4        1             0         0

[5 rows x 52 columns]
   age          job  marital          education  default housing loan  \
0   44  blue-collar  married              Basic  unknown     yes   no
1   53   technician  married            unknown       no      no   no
2   28   management   single  university.degree       no     yes   no
3   39     services  married        high.school       no      no   no
4   55      retired  married              Basic       no     yes   no

    contact month day_of_week        ...          default_unknown  \
0  cellular   aug         thu        ...                        1
1  cellular   nov         fri        ...                        0
2  cellular   jun         thu        ...                        0
3  cellular   apr         fri        ...                        0
4  cellular   aug         fri        ...                        0

   default_yes  housing_no  housing_unknown housing_yes  loan_no  \
0            0           0                0           1        1
1            0           1                0           0        1
2            0           0                0           1        1
3            0           1                0           0        1
4            0           0                0           1        1

   loan_unknown  loan_yes  contact_cellular  contact_telephone
0             0         0                 1                  0
1             0         0                 1                  0
2             0         0                 1                  0
3             0         0                 1                  0
4             0         0                 1                  0

[5 rows x 54 columns]
   age          job  marital          education  default housing loan  \
0   44  blue-collar  married              Basic  unknown     yes   no
1   53   technician  married            unknown       no      no   no
2   28   management   single  university.degree       no     yes   no
3   39     services  married        high.school       no      no   no
4   55      retired  married              Basic       no     yes   no

    contact month day_of_week    ...      month_apr  month_aug  month_dec  \
0  cellular   aug         thu    ...              0          1          0
1  cellular   nov         fri    ...              0          0          0
2  cellular   jun         thu    ...              0          0          0
3  cellular   apr         fri    ...              1          0          0
4  cellular   aug         fri    ...              0          1          0

   month_jul month_jun  month_mar  month_may  month_nov  month_oct  month_sep
0          0         0          0          0          0          0          0
1          0         0          0          0          1          0          0
2          0         1          0          0          0          0          0
3          0         0          0          0          0          0          0
4          0         0          0          0          0          0          0

[5 rows x 64 columns]
   age          job  marital          education  default housing loan  \
0   44  blue-collar  married              Basic  unknown     yes   no
1   53   technician  married            unknown       no      no   no
2   28   management   single  university.degree       no     yes   no
3   39     services  married        high.school       no      no   no
4   55      retired  married              Basic       no     yes   no

    contact month day_of_week       ...         month_mar  month_may  \
0  cellular   aug         thu       ...                 0          0
1  cellular   nov         fri       ...                 0          0
2  cellular   jun         thu       ...                 0          0
3  cellular   apr         fri       ...                 0          0
4  cellular   aug         fri       ...                 0          0

   month_nov  month_oct month_sep  day_of_week_fri  day_of_week_mon  \
0          0          0         0                0                0
1          1          0         0                1                0
2          0          0         0                0                0
3          0          0         0                1                0
4          0          0         0                1                0

   day_of_week_thu  day_of_week_tue  day_of_week_wed
0                1                0                0
1                0                0                0
2                1                0                0
3                0                0                0
4                0                0                0

[5 rows x 69 columns]
   age          job  marital          education  default housing loan  \
0   44  blue-collar  married              Basic  unknown     yes   no
1   53   technician  married            unknown       no      no   no
2   28   management   single  university.degree       no     yes   no
3   39     services  married        high.school       no      no   no
4   55      retired  married              Basic       no     yes   no

    contact month day_of_week        ...         month_oct  month_sep  \
0  cellular   aug         thu        ...                 0          0
1  cellular   nov         fri        ...                 0          0
2  cellular   jun         thu        ...                 0          0
3  cellular   apr         fri        ...                 0          0
4  cellular   aug         fri        ...                 0          0

   day_of_week_fri  day_of_week_mon day_of_week_thu  day_of_week_tue  \
0                0                0               1                0
1                1                0               0                0
2                0                0               1                0
3                1                0               0                0
4                1                0               0                0

   day_of_week_wed  poutcome_failure  poutcome_nonexistent  poutcome_success
0                0                 0                     1                 0
1                0                 0                     1                 0
2                0                 0                     0                 1
3                0                 0                     1                 0
4                0                 0                     0                 1

[5 rows x 72 columns]

array(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp_var_rate',
       'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed', 'y',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired',
       'job_self-employed', 'job_services', 'job_student',
       'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_Basic', 'education_high.school',
       'education_illiterate', 'education_professional.course',
       'education_university.degree', 'education_unknown', 'default_no',
       'default_unknown', 'default_yes', 'housing_no', 'housing_unknown',
       'housing_yes', 'loan_no', 'loan_unknown', 'loan_yes',
       'contact_cellular', 'contact_telephone', 'month_apr', 'month_aug',
       'month_dec', 'month_jul', 'month_jun', 'month_mar', 'month_may',
       'month_nov', 'month_oct', 'month_sep', 'day_of_week_fri',
       'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_failure', 'poutcome_nonexistent',
       'poutcome_success'], dtype=object)

In [6]:
data_final_vars=data_final.columns.values.tolist()
Y=['y']
X=[i for i in data_final_vars if i not in Y]

In [7]:
#Implementing the model
import statsmodels.api as sm
logit_model=sm.Logit(data_final[Y],data_final[X])
result=logit_model.fit()
print(result.summary())

D:\anaconda\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.207332
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                41188
Model:                          Logit   Df Residuals:                    41137
Method:                           MLE   Df Model:                           50
Date:                Fri, 15 Jun 2018   Pseudo R-squ.:                  0.4110
Time:                        16:24:58   Log-Likelihood:                -8539.6
converged:                      False   LL-Null:                       -14499.
                                        LLR p-value:                     0.000
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
age                            9.896e-05      0.002      0.041      0.967      -0.005       0.005
duration                          0.0047   7.46e-05     63.110      0.000       0.005       0.005
campaign                         -0.0402      0.012     -3.475      0.001      -0.063      -0.018
pdays                            -0.0009      0.000     -4.324      0.000      -0.001      -0.001
previous                         -0.0624      0.059     -1.055      0.291      -0.178       0.054
emp_var_rate                     -1.7570      0.142    -12.377      0.000      -2.035      -1.479
cons_price_idx                    2.1881      0.252      8.671      0.000       1.694       2.683
cons_conf_idx                     0.0206      0.008      2.657      0.008       0.005       0.036
euribor3m                         0.3318      0.130      2.553      0.011       0.077       0.586
nr_employed                       0.0054      0.003      1.734      0.083      -0.001       0.012
job_admin.                       -7.6541   1.45e+05   -5.3e-05      1.000   -2.83e+05    2.83e+05
job_blue-collar                  -7.8872        nan        nan        nan         nan         nan
job_entrepreneur                 -7.8323        nan        nan        nan         nan         nan
job_housemaid                    -7.6828        nan        nan        nan         nan         nan
job_management                   -7.7098        nan        nan        nan         nan         nan
job_retired                      -7.3714        nan        nan        nan         nan         nan
job_self-employed                -7.8147        nan        nan        nan         nan         nan
job_services                     -7.7903        nan        nan        nan         nan         nan
job_student                      -7.4523        nan        nan        nan         nan         nan
job_technician                   -7.6689        nan        nan        nan         nan         nan
job_unemployed                   -7.6371        nan        nan        nan         nan         nan
job_unknown                      -7.7221        nan        nan        nan         nan         nan
marital_divorced                -23.0737        nan        nan        nan         nan         nan
marital_married                 -23.0753        nan        nan        nan         nan         nan
marital_single                  -23.0186        nan        nan        nan         nan         nan
marital_unknown                 -23.0411        nan        nan        nan         nan         nan
education_Basic                 -15.6151        nan        nan        nan         nan         nan
education_high.school           -15.5877        nan        nan        nan         nan         nan
education_illiterate            -14.5684        nan        nan        nan         nan         nan
education_professional.course   -15.5200        nan        nan        nan         nan         nan
education_university.degree     -15.4393        nan        nan        nan         nan         nan
education_unknown               -15.4855        nan        nan        nan         nan         nan
default_no                      -26.0649   1.24e+06   -2.1e-05      1.000   -2.43e+06    2.43e+06
default_unknown                 -26.3628   1.24e+06  -2.12e-05      1.000   -2.44e+06    2.44e+06
default_yes                     -39.7832   1.19e+06  -3.35e-05      1.000   -2.32e+06    2.32e+06
housing_no                      -30.7511        nan        nan        nan         nan         nan
housing_unknown                 -30.7521   9.78e+07  -3.15e-07      1.000   -1.92e+08    1.92e+08
housing_yes                     -30.7560        nan        nan        nan         nan         nan
loan_no                         -30.6613        nan        nan        nan         nan         nan
loan_unknown                    -30.7538   9.18e+07  -3.35e-07      1.000    -1.8e+08     1.8e+08
loan_yes                        -30.7133        nan        nan        nan         nan         nan
contact_cellular                -43.8701        nan        nan        nan         nan         nan
contact_telephone               -44.5152        nan        nan        nan         nan         nan
month_apr                        -9.4407   1.21e+06  -7.77e-06      1.000   -2.38e+06    2.38e+06
month_aug                        -8.5761   1.17e+06  -7.32e-06      1.000    -2.3e+06     2.3e+06
month_dec                        -9.1242   1.15e+06  -7.97e-06      1.000   -2.24e+06    2.24e+06
month_jul                        -9.3056   1.28e+06  -7.27e-06      1.000   -2.51e+06    2.51e+06
month_jun                        -9.9639    1.2e+06  -8.31e-06      1.000   -2.35e+06    2.35e+06
month_mar                        -7.4276   1.18e+06  -6.29e-06      1.000   -2.31e+06    2.31e+06
month_may                        -9.8843   1.24e+06  -7.96e-06      1.000   -2.44e+06    2.44e+06
month_nov                        -9.8585   1.09e+06  -9.03e-06      1.000   -2.14e+06    2.14e+06
month_oct                        -9.2461   1.26e+06  -7.35e-06      1.000   -2.47e+06    2.47e+06
month_sep                        -9.0653    1.1e+06  -8.22e-06      1.000   -2.16e+06    2.16e+06
day_of_week_fri                 -18.2862   1.16e+06  -1.57e-05      1.000   -2.28e+06    2.28e+06
day_of_week_mon                 -18.4038   1.16e+06  -1.58e-05      1.000   -2.28e+06    2.28e+06
day_of_week_thu                 -18.2299   1.16e+06  -1.57e-05      1.000   -2.28e+06    2.28e+06
day_of_week_tue                 -18.1890   1.16e+06  -1.56e-05      1.000   -2.28e+06    2.28e+06
day_of_week_wed                 -18.1109   1.16e+06  -1.56e-05      1.000   -2.28e+06    2.28e+06
poutcome_failure                -30.8868    4.1e+05  -7.54e-05      1.000   -8.03e+05    8.03e+05
poutcome_nonexistent            -30.4605    4.1e+05  -7.44e-05      1.000   -8.03e+05    8.03e+05
poutcome_success                -29.9264    4.1e+05  -7.31e-05      1.000   -8.03e+05    8.03e+05
=================================================================================================

D:\anaconda\lib\site-packages\statsmodels\base\model.py:496: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
D:\anaconda\lib\site-packages\statsmodels\base\model.py:1029: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(np.diag(self.cov_params()))
D:\anaconda\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
D:\anaconda\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
D:\anaconda\lib\site-packages\scipy\stats\_distn_infrastructure.py:1818: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

In [8]:
#Fitting the Logistic Regression model by spliting them into traning data and testing data
logreg = LogisticRegression()

x_train, x_test, y_train, y_test = train_test_split(data_final[X], data_final[Y], test_size=0.3, random_state=0)
logreg.fit(x_train, y_train)
y_pred = logreg.predict(x_test)
print('Score:' ,logreg.score(x_test, y_test ))

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Score: 0.913085700413

In [9]:
#Confusion matrix

from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[10718   263]
 [  811   565]]

In [10]:
from tpot import TPOTClassifier
tpot = TPOTClassifier(generations=5, population_size=50, verbosity=2)
tpot.fit(x_train, y_train)
print(tpot.score(x_test, y_test))

Warning: xgboost.XGBClassifier is not available and will not be used by TPOT.

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Generation 1 - Current best internal CV score: 0.9151258772451294

Generation 2 - Current best internal CV score: 0.9151258772451294

Generation 3 - Current best internal CV score: 0.9152298272323447

Generation 4 - Current best internal CV score: 0.9153688423083551

Generation 5 - Current best internal CV score: 0.9153688423083551

Best pipeline: RandomForestClassifier(SelectPercentile(input_matrix, percentile=84), bootstrap=True, criterion=gini, max_features=0.4, min_samples_leaf=9, min_samples_split=13, n_estimators=100)
0.919640689488

In [11]:
tpot.export('tpot_market_pipeline.py')

True

In [30]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectPercentile, f_classif
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline

In [32]:
exported_pipeline = make_pipeline(
    SelectPercentile(score_func=f_classif, percentile=84),
    RandomForestClassifier(bootstrap=True, criterion="gini", max_features=0.4, min_samples_leaf=9, min_samples_split=13, n_estimators=100)
)

exported_pipeline.fit(x_train, y_train)
results = exported_pipeline.predict(x_test)
print('Score:', exported_pipeline.score(x_test, y_test))

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\anaconda\lib\site-packages\sklearn\pipeline.py:250: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Score: 0.919478837906